html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #000079;
  background-image: radial-gradient(circle, #000079, black);
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  display: block;
  touch-action: none;
}
